/* Global styles - shared across project */
@font-face {
  font-family: 'Paris2024';
  src        : url('../fonts/Paris2024-Black.ttf') format('truetype');
  font-weight: 900;
  font-style : normal;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}